<div class = "row">
    <div ng-show="!showResults">
    <div class ="col s5">

        <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <textarea id="textarea1"ng-model="intakeInfo.question1" name="question1" class="materialize-textarea"></textarea>
                  <label for="textarea1">Textarea</label>
                </div>
              </div>
            </form>
          </div>
    </div>
    <div class ="col s2 center-align ">
        <br>
        <br>
<i  class="fa fa-cog fa-spin fa-3x fa-fw"></i>
<span ng-show="loading" class="sr-only">Loading...</span>
    </div>
    <div class ="col s5">
        
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1"ng-model="intakeInfo.question2" name="question2" class="materialize-textarea"></textarea>
          <label for="textarea1">Textarea</label>
        </div>
      </div>
    </form>
  </div>
    </div>
    <div class="col s12 center-align animated fadeIn" >
            <a href="#storage" ng-click="runTest()"class="waves-effect purple lighten-4 btn-flat"></i>View details</a>
        </div>
    </div>

    <div class = "col s12 center-align" ng-show="showResults">
            <div class = "row"></div>
            <div class = "row"></div>
            <div class = "row"></div>
            <div class = "row"></div>
            <div class = "row"></div>
        <div class = "col s4 center-align" style="border-bottom:1px solid #ddd;"> <p class= "montserrat flow-text" style="font-size:30px;"> TAG #</p>
        </div>
        <div class = "col s4 center-align" style="border-bottom:1px solid #ddd;">
               <p class= "montserrat flow-text" style="font-size:30px;">OLD TAG</p>
                
        </div>
        <div class = "col s4 center-align" style="border-bottom:1px solid #ddd;">
              <p class= "montserrat flow-text" style="font-size:30px;"> NEW TAG</p>

        </div>
        <div ng-repeat = "tag in results">
        <div class= "col s4">
                <p class= "montserrat flow-text" style="font-size:30px;">        {{tag.Number}}</p>
        </div>
        <div class = "col s4">
               <p class= "montserrat flow-text"  style="font-size:30px;"> {{tag.oldtag}}</p>
        </div>
        <div class = "col s4">
                <p class= "montserrat flow-text" style="font-size:30px;">   {{tag.newtag}}</p>
        </div>
        </div>
    </div>
</div>