<body>
<div class = "row background">

<div class = "col s12 center-align">

        <h2 class = "montserrat center-align">Get In Touch!</h2>
        <div class="col s12 " >
                <p class="  flow-text black-text">
                  A web application is the way the modern web user interacts with web content. 
                  Users demand a  more rich, interactive, and personalized from the websites they
                  visit. Really, most websites can be described as a web application. What people mean when
                  using the term 'Web App',however, is an web based application that has functionaalit
                  that rivals or even surpasses modern mobile or even desktop applications.
                  </p>
              </div>

        <div class="row">


                <div class="input-field col s3">
                        
                    </div>
          <div ng-show="firstName" class="input-field col s6" style="border:1px solid white;">
              <div class = "row"></div>
              <div class = "row"></div>
                <h4 class = "montserrat center-align">First Name</h4>
            <input placeholder="Placeholder" id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
            <div class = "row"></div>
              <div class = "row"></div>
          </div>
          <div ng-show="contactEmail" class="input-field col s6" style="border:1px solid white;">
                <div class = "row"></div>
                <div class = "row"></div>
                  <h4 class = "montserrat center-align">Email</h4>
              <input placeholder="Placeholder" id="first_name" type="text" class="validate">
              <label for="first_name">First Name</label>
              <div class = "row"></div>
                <div class = "row"></div>
            </div>
            <div ng-show="howCanWeHelp"class="input-field col s6" style="border:1px solid white;">
                    <div class = "row"></div>
                    <div class = "row"></div>
                      <h4 class = "montserrat center-align">How Can We Help?</h4>
                  <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                  <label for="first_name">First Name</label>
                  <div class = "row"></div>
                    <div class = "row"></div>
                </div>
          <div class="input-field col s3">
           
          </div>
        <div class = "row"></div>
        <div class = "row"></div>


        <div class = "col s4"></div>
        <div class = "col s4 grey lighten-5 " >
        <a  ng-click="testContact()" class="montserrat flow-text black-text" style="font-size:30px; ">View More &nbsp        <img class="animated pulse infinite" style="position:relative; top:1rem;"src="./images/moredetails.svg">
        </a>
        </div>
        <div class = "col s4"></div>
    </div>
    <div class="row">


            <div class="input-field col s3">
                    
                </div>
      <div class="input-field col s6">
            <h4 class = "montserrat center-align">Email</h4>
        <input placeholder="Placeholder" id="first_name" type="text" class="validate">
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field col s3">
       
      </div>
    
    <div class = "col s4"></div>
    <div class = "col s4 grey lighten-5 " >
    <a  ng-click="testButton()" class="montserrat flow-text black-text" style="font-size:30px; ">View More &nbsp        <img class="animated pulse infinite" style="position:relative; top:1rem;"src="./images/moredetails.svg">
    </a>
    </div>
    <div class = "col s4"></div>
</div>
<div class="row">


        <div class="input-field col s3">
                
            </div>
  <div class="input-field col s6">
        <h4 class = "montserrat center-align">How Can We Help You?</h4>
    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
    <label for="first_name">First Name</label>
  </div>
  <div class="input-field col s3">
   
  </div>

<div class = "col s4"></div>
<div class = "col s4 grey lighten-5 " >
<a  ng-click="testButton()" class="montserrat flow-text black-text" style="font-size:30px; ">View More &nbsp        <img class="animated pulse infinite" style="position:relative; top:1rem;"src="./images/moredetails.svg">
</a>
</div>
<div class = "col s4"></div>
</div>
</div>
<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Textarea</label>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Textarea</label>
        </div>
      </div>
    </form>
  </div>

</div>
</body>