
<div class = "container">

    <div class = "row">

     <div class = "col s12 center-align section" >
     
         <h3 class = "montserrat"> Server Speed</h3>
     </div>
        <div class = "col s12">
            <div class = "row">

            </div>
            <div class = "row">
                
                </div>
                <div class = "row">
                
                    </div>

                    <div class = "row">
                
                        </div>
                        <div class = "row">
                
                            </div>
            <div class = "row">
                    <div ng-show="bigPink">
                            <div class = "col s4">
                                <img ng-click="startPulse()"   class = "img-responsive "style="opacity:0;"  src='./images/1xServerpink.svg'/>
                               
                            </div>
                            <div class = "col s4">
                                    <img ng-click="startPulse()"   class = "img-responsive animated  fadeIn"  src='./images/1xServerpink.svg'/>
                                   
                                </div>
                                <div class = "col s4">
                                        <img ng-click="startPulse()"   class = "img-responsive "  style="opacity:0;" src='./images/1xServerpink.svg'/>
                                       
                                    </div>
                         
                </div>
<div ng-show="!bigPink">
            <div class = "col s4">
                <img ng-click="startPulse()"   class = "img-responsive animated " ng-class="{'rollOut':rollRight,'slideInRight':!pulseSelect,'pulse':pulseSelect,'infinite':pulseSelect && !rollRight}" src='./images/1xServerpink.svg'/>
               
            </div>
            <div class = "col s4">
                <img   class = "img-responsive animated " ng-class="{'slideInRight':!pulseSelect,'fadeOutLeft':slideOutSecond}" src='./images/2xServergreen.svg'/>
                
            </div>
            <div class = "col s4">
                <img  class = "img-responsive animated " ng-class="{'slideInRight':!pulseSelect,'fadeOutLeft':slideOutFirst}" src='./images/3xServerblue.svg'/>
               
            </div>
            <div class = "col s4">
                <img   class = "img-responsive animated slideInRight" src='./images/smallstorage.svg'/>
              
            </div>
</div>
            <div class = "col s4">
                <img   class = "img-responsive animated slideInRight" src='./images/medstorage.svg'/>
               
            </div>
            <div class = "col s4">
                <img   class = "img-responsive animated slideInRight" src='./images/largestorage.svg'/>
               
            </div>
            <div class = "col s4">
                <img   class = "img-responsive animated slideInRight" src='./images/1xServerpink.svg'/>
               
            </div>
            <div class = "col s4">
                <img   class = "img-responsive animated slideInRight" src='./images/2xServergreen.svg'/>
               
            </div>
            <div class = "col s4">
                <img   class = "img-responsive animated slideInRight" src='./images/3xServerblue.svg'/>
              
            </div>
        </div>

        
    </div>
    </div>

</div>