<div class="row">

    <!--<div class="col s12 center-align section">

            <h3 class="montserrat"> Server Speed</h3>
        </div>-->
    <div class="col s12">

        <div class="col s12 purple lighten-4">
            <div class="row">

            </div>

     <div class = "col s2">
         <br>
            <a href="/home"><i class = "material-icons left-align white-text" style="font-size:70px;">keyboard_return</i></a>
     </div>
     <div class = " col s10">
            <h2 class="brandon center-align white-text" style="padding-right:8rem"> GET AN ESTIMATE</h2>
     </div>
            <div class="row">

            </div>

            <div class="row">

            </div>
        </div>
        <div class="row">

        </div>

        <div class="row">

        </div>


        <div class="row">

        </div>
        <div class="row">

        </div>
        <div class="row">
            <div ng-show="bigPink">
                <div class="col s4">
                    <img ng-click="startPulse()" class="img-responsive animated pulse infinite " style="opacity:0;"
                        src='./images/1xServerpink.svg' />

                </div>
                <div class="col s4">
                    <img ng-click="startPulse()" class="img-responsive animated  fadeIn"
                        src='./images/1xServerpink.svg' />

                </div>
                <div class="col s4">
                    <img ng-click="startPulse()" class="img-responsive " style="opacity:0;"
                        src='./images/1xServerpink.svg' />

                </div>
                <div class="col s12">
                    <h3 class="brandon left-align"> Server Speed</h3>
                </div>


            </div>
            <div ng-show="!bigPink">



                <div ng-show="color && !colortwo && !colorthree ">
                    <div class="col s4">
                        <img ng-click="startPulse()" class="img-responsive animated fadeIn pulse infinite slow "
                            src='./images/1xServerpink.svg' />

                    </div>
                    <div class="col s4">
                        <img ng-click="darkOneThree()" class="img-responsive animated fadeIn "
                            src='./images/2xServer.svg' />

                    </div>
                    <div class="col s4">
                        <img ng-click="darkOneTwo()" class="img-responsive animated fadeIn"
                            src='./images/3xServer.svg' />

                    </div>
                    <div class="col s12 " style="border:1px solid #ddd;">
                        <h4 class="montserrat center-align animated fadeIn">"Hobby"</h4>
                        <p class="montserrat center-align flow-text grey-text text-darken-1  animated fadeIn" >
                            Whether communicating with your clients with the gemini messaging system. Or managing your
                            inventory with Dumbo; You're going
                            to need a place to store all of that info!
                        </p>
                    </div>
                </div>
                <div ng-show="!color && colortwo && !colorthree ">
                    <div class="col s4">
                        <img ng-click="startPulse()" class="img-responsive animated fadeIn "
                            src='./images/1xServer.svg' />

                    </div>
                    <div class="col s4">
                        <img ng-click="darkOneThree()" class="img-responsive animated fadeIn "
                            src='./images/2xServergreen.svg' />

                    </div>
                    <div class="col s4">
                        <img ng-click="darkOneTwo()" class="img-responsive animated fadeIn "
                            src='./images/3xServer.svg' />
                    </div>
                    <div class="col s12 " style="border:1px solid #ddd;">
                        <h4 class="montserrat center-align animated fadeIn">"Startup"</h4>
                        <p class="montserrat center-align flow-text grey-text text-darken-1  animated fadeIn">
                            Whether communicating with your clients with the gemini messaging system. Or managing your
                            inventory with Dumbo; You're going
                            to need a place to store all of that info!
                        </p>
                    </div>
                </div>
                <div ng-show="!color && !colortwo && colorthree ">
                    <div class="col s4">
                        <img ng-click="startPulse()" class="img-responsive animated fadeIn "
                            src='./images/1xServer.svg' />
                    </div>
                    <div class="col s4">
                        <img ng-click="darkOneThree()" class="img-responsive animated fadeIn "
                            src='./images/2xServer.svg' />
                    </div>
                    <div class="col s4">
                        <img ng-click="darkOneTwo()" class="img-responsive animated fadeIn "
                            src='./images/3xServerblue.svg' />
                    </div>
                    <div class="col s12 " style="border:1px solid #ddd;">
                        <h4 class="montserrat center-align animated fadeIn">"Enterprise"</h4>
                        <p class="montserrat center-align flow-text grey-text text-darken-1  animated fadeIn">
                            Whether communicating with your clients with the gemini messaging system. Or managing your
                            inventory with Dumbo; You're going
                            to need a place to store all of that info!
                        </p>
                    </div>
                </div>
                <div ng-show="!color && !colortwo && !colorthree ">
                    <div class="col s4">
                        <img ng-click="startPulse()" class="img-responsive animated fadeIn "
                            src='./images/1xServerpink.svg' />
                    </div>
                    <div class="col s4">
                        <img ng-click="darkOneThree()" class="img-responsive animated fadeIn "
                            src='./images/2xServergreen.svg' />
                    </div>
                    <div class="col s4">
                        <img ng-click="darkOneTwo()" class="img-responsive animated fadeIn "
                            src='./images/3xServerblue.svg' />
                    </div>


                    <div class="col s12 " style="border:1px solid #ddd;">
                        <h4 class="montserrat center-align animated fadeIn">SERVER SPEED</h4>
                        <p class="montserrat center-align flow-text grey-text text-darken-1  animated fadeIn">
                            Whether communicating with your clients with the gemini messaging system. Or managing your
                            inventory with Dumbo; You're going
                            to need a place to store all of that info!
                        </p>
                        <a href="/server"><p class = "montserrat center-align"> MORE INFO</p></a>

                    </div>
                </div>


            </div>


            <div ng-show="colorStorage && !colorStorageTwo && !colorStorageThree ">
                <div class="col s4">
                    <img ng-click="startStoragePulse()" class="img-responsive animated fadeIn "
                        src='./images/smallstoragepink.svg' />

                </div>
                <div class="col s4">
                    <img ng-click="darkStorageOneThree()" class="img-responsive animated fadeIn "
                        src='./images/medstorage.svg' />

                </div>
                <div class="col s4">
                    <img ng-click="darkStorageOneTwo()" class="img-responsive animated fadeIn"
                        src='./images/largestorage.svg' />

                </div>
                <div class="col s12 " style="border:1px solid #ddd;">
                    <h4 class="montserrat center-align animated fadeIn">"Suitcase"</h4>
                    <p class="montserrat center-align flow-text grey-text text-darken-1  animated fadeIn">
                        Whether communicating with your clients with the gemini messaging system. Or managing your
                        inventory with Dumbo; You're going
                        to need a place to store all of that info!
                    </p>
                </div>
            </div>
            <div ng-show="!colorStorage && colorStorageTwo && !colorStorageThree ">
                <div class="col s4">
                    <img ng-click="startStoragePulse()" class="img-responsive animated fadeIn "
                        src='./images/smallstorage.svg' />

                </div>
                <div class="col s4">
                    <img ng-click="darkStorageOneThree()" class="img-responsive animated fadeIn "
                        src='./images/medstoragegreen.svg' />

                </div>
                <div class="col s4">
                    <img ng-click="darkStorageOneTwo()" class="img-responsive animated fadeIn "
                        src='./images/largestorage.svg' />
                </div>
                <div class="col s12 " style="border:1px solid #ddd;">
                    <h4 class="montserrat center-align animated fadeIn">"Storage Locker"</h4>
                    <p class="montserrat center-align flow-text grey-text text-darken-1  animated fadeIn">
                        Whether communicating with your clients with the gemini messaging system. Or managing your
                        inventory with Dumbo; You're going
                        to need a place to store all of that info!
                    </p>
                </div>
            </div>

            <div ng-show="!colorStorage && !colorStorageTwo && colorStorageThree ">
                <div class="col s4">
                    <img ng-click="startStoragePulse()" class="img-responsive animated fadeIn "
                        src='./images/smallstorage.svg' />
                </div>
                <div class="col s4">
                    <img ng-click="darkStorageOneThree()" class="img-responsive animated fadeIn "
                        src='./images/medstorage.svg' />
                </div>
                <div class="col s4">
                    <img ng-click="darkStorageOneTwo()" class="img-responsive animated fadeIn "
                        src='./images/largestorageblue.svg' />
                </div>
                <div class="col s12 " style="border:1px solid #ddd;">
                    <h4 class="montserrat center-align animated fadeIn">"Warehouse"</h4>
                    <p class="montserrat center-align flow-text grey-text text-darken-1  animated fadeIn">
                        Whether communicating with your clients with the gemini messaging system. Or managing your
                        inventory with Dumbo; You're going
                        to need a place to store all of that info!
                    </p>
                </div>
            </div>
            <div ng-show="!colorStorage && !colorStorageTwo && !colorStorageThree ">
                <div class="col s4">
                    <img ng-click="startStoragePulse()" class="img-responsive animated fadeIn "
                        src='./images/smallstoragepink.svg' />
                </div>
                <div class="col s4">
                    <img ng-click="darkStorageOneThree()" class="img-responsive animated fadeIn "
                        src='./images/medstoragegreen.svg' />
                </div>
                <div class="col s4">
                    <img ng-click="darkStorageOneTwo()" class="img-responsive animated fadeIn "
                        src='./images/largestorageblue.svg' />
                </div>
                <div class="col s12 " style="border:1px solid #ddd;">
                    <h4 class="montserrat center-align animated fadeIn">LIVING SPACE</h4>
                    <p class="montserrat center-align flow-text grey-text text-darken-1  animated fadeIn">
                        Whether communicating with your clients with the gemini messaging system. Or managing your
                        inventory with Dumbo; You're going
                        to need a place to store all of that info!
                    </p>
                    <a href="/forms"><p class = "montserrat center-align"> MORE INFO</p></a>

                </div>
            </div>






            <div ng-show="colorTheme && !colorThemeTwo && !colorThemeThree ">
                <div class="col s4">
                    <img ng-click="startThemePulse()" class="img-responsive animated fadeIn "
                        src='./images/themepink.svg' />

                </div>
                <div class="col s4">
                    <img ng-click="darkThemeOneThree()" class="img-responsive animated fadeIn "
                        src='./images/theme.svg' />

                </div>
                <div class="col s4">
                    <img ng-click="darkThemeOneTwo()" class="img-responsive animated fadeIn"
                        src='./images/theme.svg' />

                </div>
                <div class="col s12 " style="border:1px solid #ddd;">
                    <h4 class="montserrat center-align animated fadeIn">"Template"</h4>
                    <p class="montserrat center-align flow-text grey-text text-darken-1  animated fadeIn">
                        Whether communicating with your clients with the gemini messaging system. Or managing your
                        inventory with Dumbo; You're going
                        to need a place to store all of that info!
                    </p>
                </div>
            </div>
            <div ng-show="!colorTheme && colorThemeTwo && !colorThemeThree ">
                <div class="col s4">
                    <img ng-click="startThemePulse()" class="img-responsive animated fadeIn "
                        src='./images/theme.svg' />

                </div>
                <div class="col s4">
                    <img ng-click="darkThemeOneThree()" class="img-responsive animated fadeIn "
                        src='./images/themegreen.svg' />

                </div>
                <div class="col s4">
                    <img ng-click="darkThemeOneTwo()" class="img-responsive animated fadeIn "
                        src='./images/theme.svg' />
                </div>
                <div class="col s12 " style="border:1px solid #ddd;">
                    <h4 class="montserrat center-align animated fadeIn">"Unique"</h4>
                    <p class="montserrat center-align flow-text grey-text text-darken-1  animated fadeIn">
                        Whether communicating with your clients with the gemini messaging system. Or managing your
                        inventory with Dumbo; You're going
                        to need a place to store all of that info!
                    </p>
                </div>
            </div>

            <div ng-show="!colorTheme && !colorThemeTwo && colorThemeThree ">
                <div class="col s4">
                    <img ng-click="startThemePulse()" class="img-responsive animated fadeIn "
                        src='./images/theme.svg' />
                </div>
                <div class="col s4">
                    <img ng-click="darkThemeOneThree()" class="img-responsive animated fadeIn "
                        src='./images/theme.svg' />
                </div>
                <div class="col s4">
                    <img ng-click="darkThemeOneTwo()" class="img-responsive animated fadeIn "
                        src='./images/themeblue.svg' />
                </div>
                <div class="col s12 " style="border:1px solid #ddd;">
                    <h4 class="montserrat center-align animated fadeIn">"Complete"</h4>
                    <p class="montserrat center-align flow-text grey-text text-darken-1  animated fadeIn">
                        Whether communicating with your clients with the gemini messaging system. Or managing your
                        inventory with Dumbo; You're going
                        to need a place to store all of that info!
                    </p>
                </div>
            </div>
            <div ng-show="!colorTheme && !colorThemeTwo && !colorThemeThree ">
                <div class="col s4">
                    <img ng-click="startThemePulse()" class="img-responsive animated fadeIn "
                        src='./images/themepink.svg' />
                </div>
                <div class="col s4">
                    <img ng-click="darkThemeOneThree()" class="img-responsive animated fadeIn "
                        src='./images/themegreen.svg' />
                </div>
                <div class="col s4">
                    <img ng-click="darkThemeOneTwo()" class="img-responsive animated fadeIn "
                        src='./images/themeblue.svg' />
                </div>
                <div class="col s12 " style="border:1px solid #ddd;">
                    <h4 class="montserrat center-align animated fadeIn">LOOK & FEEL</h4>
                    <p class="montserrat center-align flow-text grey-text text-darken-1  animated fadeIn">
                        Whether communicating with your clients with the gemini messaging system. Or managing your
                        inventory with Dumbo; You're going
                        to need a place to store all of that info!
                    </p>
                    <a href="/themes"><p class = "montserrat center-align"> MORE INFO</p></a>
                </div>
            </div>
            <div ng-show="!colorTheme && !colorThemeTwo && !colorThemeThree ">
                    <div class="col s4">
                        <img ng-click="startThemePulse()" class="img-responsive animated fadeIn "
                            src='./images/gmessageblack.svg' />
                    </div>
                    <div class="col s4">
                        <img ng-click="darkThemeOneThree()" class="img-responsive animated fadeIn "
                            src='./images/elephant.svg' />
                    </div>
                    <div class="col s4">
                        <img ng-click="darkThemeOneTwo()" class="img-responsive animated fadeIn "
                            src='./images/gmessageblack.svg' />
                    </div>
                <div class="col s12 " style="border:1px solid #ddd;">
                        <h4 class="montserrat center-align animated fadeIn">EXTENSIONS</h4>
                        <p class="montserrat center-align flow-text grey-text text-darken-1 animated fadeIn">
                            Whether communicating with your clients with the gemini messaging system. Or managing your
                            inventory with Dumbo; You're going
                            to need a place to store all of that info!
                        </p>
                        <a href="/server"><p class = "montserrat center-align"> MORE INFO</p></a>

                </div>
                </div>
                <div ng-show="!colorTheme && colorThemeTwo && !colorThemeThree ">
                        <div class="col s4">
                            <img ng-click="startThemePulse()" class="img-responsive animated fadeIn "
                                src='./images/gmessageblack.svg' />
                        </div>
                        <div class="col s4">
                            <img ng-click="darkThemeOneThree()" class="img-responsive animated fadeIn "
                                src='./images/elephantclor.svg' />
                        </div>
                        <div class="col s4">
                            <img ng-click="darkThemeOneTwo()" class="img-responsive animated fadeIn "
                                src='./images/gmessageblack.svg' />
                        </div>
                        <div class="col s12 " style="border:1px solid #ddd;">
                            <h4 class="montserrat center-align animated fadeIn">"DUMBO"</h4>
                         
                            <h5 class="montserrat center-align animated fadeIn">INVENTORY MANAGEMENT SYSTEM</h5>

                            <p class="montserrat center-align flow-text grey-text text-darken-1 animated fadeIn">
                                Whether communicating with your clients with the gemini messaging system. Or managing your
                                inventory with Dumbo; You're going
                                to need a place to store all of that info!
                            </p>
                        </div>
                </div>
                <div ng-show="colorTheme && !colorThemeTwo && !colorThemeThree ">
                            <div class="col s4">
                                <img ng-click="startThemePulse()" class="img-responsive animated fadeIn "
                                    src='./images/gmessagecolor.svg' />
                            </div>
                            <div class="col s4">
                                <img ng-click="darkThemeOneThree()" class="img-responsive animated fadeIn "
                                    src='./images/elephant.svg' />
                            </div>
                            <div class="col s4">
                                <img ng-click="darkThemeOneTwo()" class="img-responsive animated fadeIn "
                                    src='./images/gmessageblack.svg' />
                            </div>
                            <div class="col s12 " style="border:1px solid #ddd;">
                                <h4 class="montserrat center-align animated fadeIn">"GEMINI"</h4>
                                <h5 class="montserrat center-align animated fadeIn">SECURE MESSAGING SYSTEM</h5>

                                <p class="montserrat center-align flow-text grey-text text-darken-1 animated fadeIn">
                                    Whether communicating with your clients with the gemini messaging system. Or managing your
                                    inventory with Dumbo; You're going
                                    to need a place to store all of that info!
                                </p>
                            </div>
                </div>
                <div ng-show="!colorTheme && !colorThemeTwo && colorThemeThree ">
                                <div class="col s4">
                                    <img ng-click="startThemePulse()" class="img-responsive animated fadeIn "
                                        src='./images/gmessageblack.svg' />
                                </div>
                                <div class="col s4">
                                    <img ng-click="darkThemeOneThree()" class="img-responsive animated fadeIn "
                                        src='./images/elephant.svg' />
                                </div>
                                <div class="col s4">
                                    <img ng-click="darkThemeOneTwo()" class="img-responsive animated fadeIn "
                                        src='./images/islandtime.svg' />
                                </div>
                                <div class="col s12 " style="border:1px solid #ddd;">
                                    <h4 class="montserrat center-align animated fadeIn">"ISLAND"</h4>
                                    <h5 class="montserrat center-align animated fadeIn">SCHEDULING/BOOKING SYSTEM</h5>

                                    <p class="montserrat center-align flow-text grey-text text-darken-1 animated fadeIn">
                                        Whether communicating with your clients with the gemini messaging system. Or managing your
                                        inventory with Dumbo; You're going
                                        to need a place to store all of that info!
                                    </p>
                                </div>
                </div>
                
                <div ng-show="!colorTheme && !colorThemeTwo && !colorThemeThree ">
                        <div class="col s4">
                                <img ng-click="startThemePulse()" class="img-responsive animated fadeIn "
                                    src='./images/webappnormalpink.svg' />
                            </div>
                            <div class="col s4">
                                <img ng-click="darkThemeOneThree()" class="img-responsive animated fadeIn "
                                    src='./images/webappgreen.svg' />
                            </div>
                            <div class="col s4">
                                <img ng-click="darkThemeOneTwo()" class="img-responsive animated fadeIn "
                                    src='./images/mobileblue.svg' />
                            </div>
                            <div class="col s12 " style="border:1px solid #ddd;">
                                    <h4 class="montserrat center-align animated fadeIn">PLATFORM</h4>
                                    <p class="montserrat center-align flow-text grey-text text-darken-1 animated fadeIn">
                                        Whether communicating with your clients with the gemini messaging system. Or managing your
                                        inventory with Dumbo; You're going
                                        to need a place to store all of that info!
                                    </p>
                                    <a href="/server"><p class = "montserrat center-align"> MORE INFO</p></a>

                            </div>
                        </div>
           
                   
                    <div ng-show="!colorTheme && colorThemeTwo && !colorThemeThree ">
                            <div class="col s4">
                                <img ng-click="startThemePulse()" class="img-responsive animated fadeIn "
                                    src='./images/webappnormal.svg' />
                            </div>
                            <div class="col s4">
                                <img ng-click="darkThemeOneThree()" class="img-responsive animated fadeIn "
                                    src='./images/webappgreen.svg' />
                            </div>
                            <div class="col s4">
                                <img ng-click="darkThemeOneTwo()" class="img-responsive animated fadeIn "
                                    src='./images/mobile.svg' />
                            </div>
                            <div class="col s12 " style="border:1px solid #ddd;">
                                <h4 class="montserrat center-align animated fadeIn">"WEB APP + PWA"</h4>
                                <p class="montserrat center-align flow-text grey-text text-darken-1 animated fadeIn">
                                    Whether communicating with your clients with the gemini messaging system. Or managing your
                                    inventory with Dumbo; You're going
                                    to need a place to store all of that info!
                                </p>
                            </div>
                    </div>
                    <div ng-show="colorTheme && !colorThemeTwo && !colorThemeThree ">
                                <div class="col s4">
                                    <img ng-click="startThemePulse()" class="img-responsive animated fadeIn "
                                        src='./images/zenpink.svg' />
                                </div>
                                <div class="col s4">
                                    <img ng-click="darkThemeOneThree()" class="img-responsive animated fadeIn "
                                        src='./images/yingyang.svg' />
                                </div>
                                <div class="col s4">
                                    <img ng-click="darkThemeOneTwo()" class="img-responsive animated fadeIn "
                                        src='./images/mobile.svg' />
                                </div>
                                <div class="col s12 " style="border:1px solid #ddd;">
                                    <h4 class="montserrat center-align animated fadeIn">"WEB APPLICATION"</h4>
                                    <p class="montserrat center-align flow-text grey-text text-darken-1 animated fadeIn">
                                        Whether communicating with your clients with the gemini messaging system. Or managing your
                                        inventory with Dumbo; You're going
                                        to need a place to store all of that info!
                                    </p>
                                </div>
                    </div>
                    <div ng-show="!colorTheme && !colorThemeTwo && colorThemeThree ">
                                    <div class="col s4">
                                        <img ng-click="startThemePulse()" class="img-responsive animated fadeIn "
                                            src='./images/webappnormal.svg' />
                                    </div>
                                    <div class="col s4">
                                        <img ng-click="darkThemeOneThree()" class="img-responsive animated fadeIn "
                                            src='./images/webapp.svg' />
                                    </div>
                                    <div class="col s4">
                                        <img ng-click="darkThemeOneTwo()" class="img-responsive animated fadeIn "
                                            src='./images/mobileblue.svg' />
                                    </div>
                                    <div class="col s12 " style="border:1px solid #ddd;">
                                        <h4 class="montserrat center-align animated fadeIn">"MOBILE"</h4>
                                        <p class="montserrat center-align flow-text grey-text text-darken-1 animated fadeIn">
                                            Whether communicating with your clients with the gemini messaging system. Or managing your
                                            inventory with Dumbo; You're going
                                            to need a place to store all of that info!
                                        </p>
                                    </div>
                    </div>
                
                    <div ng-show="!colorTheme && !colorThemeTwo && !colorThemeThree ">
                        <div class="col s4">
                                <img ng-click="startThemePulse()" class="img-responsive animated fadeIn "
                                    src='./images/zenpink.svg' />
                            </div>
                            <div class="col s4">
                                <img ng-click="darkThemeOneThree()" class="img-responsive animated fadeIn "
                                    src='./images/yingyanggreen.svg' />
                            </div>
                            <div class="col s4">
                                <img ng-click="darkThemeOneTwo()" class="img-responsive animated fadeIn "
                                    src='./images/heavenblue.svg' />
                            </div>
                            <div class="col s12 " style="border:1px solid #ddd;">
                                    <h4 class="montserrat center-align animated fadeIn">SUPPORT PACKAGES</h4>
                                    <p class="montserrat center-align flow-text grey-text text-darken-1 animated fadeIn">
                                       Everyone needs support, and the same is true in the complex, often confusing world of software development.
                                        We offer flexible and robust support packages to help remove some of these obstacles. Helping you stay focused 
                                        on your customers.
                                        
                                    </p>
                                    <a href="/server"><p class = "montserrat center-align"> MORE INFO</p></a>

                            </div>
                        </div>
           
                   
                    <div ng-show="!colorTheme && colorThemeTwo && !colorThemeThree ">
                            <div class="col s4">
                                <img ng-click="startThemePulse()" class="img-responsive animated fadeIn "
                                    src='./images/webappnormal.svg' />
                            </div>
                            <div class="col s4">
                                <img ng-click="darkThemeOneThree()" class="img-responsive animated fadeIn "
                                    src='./images/yingyanggreen.svg' />
                            </div>
                            <div class="col s4">
                                <img ng-click="darkThemeOneTwo()" class="img-responsive animated fadeIn "
                                    src='./images/mobile.svg' />
                            </div>
                            <div class="col s12 " style="border:1px solid #ddd;">
                                <h4 class="montserrat center-align animated fadeIn">"TEAMWORK"</h4>
                                <p class="montserrat center-align flow-text grey-text text-darken-1 animated fadeIn">
                                    With the Teamwork plan, you get access to 24hr/day, 7 days a week phone and email support, along with SEO, free bug fixes, adsense credits, more! 
                                             
                                    
                                </p>
                            </div>
                    </div>
                    <div ng-show="colorTheme && !colorThemeTwo && !colorThemeThree ">
                                <div class="col s4">
                                    <img ng-click="startThemePulse()" class="img-responsive animated fadeIn "
                                        src='./images/zenpink.svg' />
                                </div>
                                <div class="col s4">
                                    <img ng-click="darkThemeOneThree()" class="img-responsive animated fadeIn "
                                        src='./images/webapp.svg' />
                                </div>
                                <div class="col s4">
                                    <img ng-click="darkThemeOneTwo()" class="img-responsive animated fadeIn "
                                        src='./images/mobile.svg' />
                                </div>
                                <div class="col s12 " style="border:1px solid #ddd;">
                                    <h4 class="montserrat center-align animated fadeIn">"FREEDOM"</h4>
                                    <p class="montserrat center-align flow-text grey-text text-darken-1 animated fadeIn">
                                        With the freedom plan, you're in control. Together, we'll build the app, set you up with
                                        your home on the internet. Then we'll leave it in the hands of your capable team to manage.
                                    </p>
                                </div>
                    </div>
                    <div ng-show="!colorTheme && !colorThemeTwo && colorThemeThree ">
                                    <div class="col s4">
                                        <img ng-click="startThemePulse()" class="img-responsive animated fadeIn "
                                            src='./images/webappnormal.svg' />
                                    </div>
                                    <div class="col s4">
                                        <img ng-click="darkThemeOneThree()" class="img-responsive animated fadeIn "
                                            src='./images/webapp.svg' />
                                    </div>
                                    <div class="col s4">
                                        <img ng-click="darkThemeOneTwo()" class="img-responsive animated fadeIn "
                                            src='./images/heavenblue.svg' />
                                    </div>
                                    <div class="col s12 " style="border:1px solid #ddd;">
                                        <h4 class="montserrat center-align animated fadeIn">"FAMILY"</h4>
                                        <p class="montserrat center-align flow-text grey-text text-darken-1 animated fadeIn">
                                            Whether communicating with your clients with the gemini messaging system. Or managing your
                                            inventory with Dumbo; You're going
                                            to need a place to store all of that info!
                                        </p>
                                    </div>
                    </div>
                
            <div class="col s12 center-align">
                <div class= "row"></div>
                <div class= "row"></div>

                <div class= "row"></div>
                <div class = "col s12">
                <h4 class="montserrat center-align animated fadeIn">ARE YOU SURE?</h4>
                <div class = "col s3"></div>
                <div class = "col s6">
                <img ng-click="darkThemeOneTwo()" id="themo" class="img-responsive animated fadeIn "
                src='./images/loading.svg' />
                </div>
                <div class = "col s3"></div>

                </div>
                
                <br>

                <a href="#" ng-click="playGenerate()" class="waves-effect purple lighten-5 btn-flat"></i>Generate
                    Estimate</a>
            </div>
        </div>





    </div>
</div>

</div>