<div class= "row">
<div class = "col s12 center-align " style="border:#ddd;">
    <div class = "row"></div>
    <div class = "row"></div>
  <img class="responsive-img animated slideInRight" src='./images/banner2.svg' />
  <div class = "row"></div>
  <div class = "row"></div>
</div>
<div class = "row"></div>
<div class = "row"></div>
<!--<div class="container">
    <div class="side left"></div>
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side back"></div>
    
    <div class="shadow"></div>
  </div>
-->
<div class = "col s12" style="border:1px solid #ddd;">
  <div class = "col s6" ng-show="firstImage">
    <img class="responsive-img animated slideInRight" src='./images/frontpage.svg' />
  </div>
  <div class = "col s6"ng-show="secondImage">
    <img class="responsive-img animated slideInRight" src='./images/button2a.svg' />
  </div>
  <div class = "col s6"ng-show="thirdImage">
    <img class="responsive-img animated slideInRight" src='./images/frontpage.svg' />
  </div>
  <div class = "col s6"ng-show="fourthImage">
    <img class="responsive-img animated slideInRight" src='./images/startup.svg' />
  </div>
  <div class = "col s6" >
    <div class = "row"></div>
    <div class = "row"></div>
    <div class = "row"></div>
    <div class = "row"></div>
    <h3 class = "montserrat">Shine Designs</h3>
    <div class = "col s12">
    <p class = "flow-text">alskdjflajsdflkajsldjflajsdlkfjaljflajkldjkljfalk
      djkflajklfj</p>
    <p class = "flow-text">alskdjflajsdflkajsldjflajsdlkfjaljflajkldjkljfalk
      djkflajklfj</p>
    <p class = "flow-text">alskdjflajsdflkajsldjflajsdlkfjaljflajkldjkljfalkd
      jkflajklfj</p>
 
    </div>
  </div>
  <div class = "col s12 center-align">
      <div ng-show="firstImage" style="display:inline;">
          <img ng-click="changeSlider()" class="responsive-img animated pulse infinite " src='./images/buttonselected.svg' />
          </div>
    <div ng-show="!firstImage" style="display:inline;">
    <img ng-click="changeSlider()" class="responsive-img animated " src='./images/button.svg' />
    </div>

    <div ng-show="secondImage"style="display:inline;">
        <img ng-click="changeSlider()" class="responsive-img animated pulse infinite" src='./images/buttonselected.svg' />
        </div>
        <div ng-show="!secondImage"style="display:inline;">
            <img ng-click="changeSlider()" class="responsive-img animated " src='./images/button.svg' />
            </div>
            <div ng-show="thirdImage"style="display:inline;">
                <img ng-click="changeSlider()" class="responsive-img animated pulse infinite " src='./images/buttonselected.svg' />
                </div>
                <div ng-show="!thirdImage"style="display:inline;">
                    <img ng-click="changeSlider()" class="responsive-img animated " src='./images/button.svg' />
                    </div>

                    <div ng-show="fourthImage"style="display:inline;">
                        <img ng-click="changeSlider()" class="responsive-img animated pulse infinite" src='./images/buttonselected.svg' />
                        </div>
                        <div ng-show="!fourthImage"style="display:inline;">
                            <img ng-click="changeSlider()" class="responsive-img animated " src='./images/button.svg' />
                            </div>


  </div>
  <div class = "row"></div>
  <div class = "row"></div>

</div>
  
  <div class = "row"></div>
  <div class = "row"></div>
  <div class ="col s12" >
      <h3 class = "montserrat">Shine Designs</h3>

     <div class = "col s6" >
        <p class = "flow-text">alskdjflajsdflkajsldjflajsdlkfjaljflajkldjkljfalk
            djkflajklfj</p>
          <p class = "flow-text">alskdjflajsdflkajsldjflajsdlkfjaljflajkldjkljfalk
            djkflajklfj</p>
          <p class = "flow-text">alskdjflajsdflkajsldjflajsdlkfjaljflajkldjkljfalkd
            jkflajklfj</p>
       
     </div>
     <div class = "col s6 center-align ">
       <br>
       <br>
       
        <i class="material-icons  text-lighten-4" style="font-size:150px; ">play_circle_outline</i>
      </div>

  </div>
  <div class = "row">
    
    <div class = "col s12" style="border:1px solid #ddd;background-image:url('./images/iphone.svg');background-repeat: no-repeat;-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;">
     
      <div class = "row"></div>
      <div class = "row"></div>
      
      <div class = "row"></div>
      <div class = "row"></div>
      
      <div class = "row"></div>
      
      
      <div class = "col s6 center-align animated slideInLeft">    
        <div class = "row"></div>  
        <div class = "row"></div>  
        <div class = "row"></div>  
        <div class = "row"></div>  
        <div class = "row"></div>     
        <img ng-click="makeBig()" class="thirdbig animated pulse infinite"src='./images/buttonselectedo.svg'> 
      </div>
    
               
     
      <div class = "col s6 center-align animated slideInRiht">      <!--  <img ng-click="makeBig()" ng-class="{'thirdnormal':thirdNormal, 'thirdbig':thirdBig}" src='./images/buttonselectedo.svg' />-->
      </div>

      <div class = "col s12 center-align animated slideInDown">  

          <img   ng-click="makeBig()" class = "animated  " src='./images/themeredsmll.svg' style="position:absolute; top:-280px;  right:80px;" />
          <img ng-show="thirdBig" style="position:fixed; top:-280px;right:80px;" ng-click="makeBig()" class = "animated fadeIn img-responsive" src='./images/reactnativeicon.svg' />

        </div>
        <!--
        <div class = "col s12 center-align animated slideInDown">        
                  <img ng-click="makeBig()" class = "animated  img-responsive" src='./images/screen.svg' />
        </div>
      -->
    

  

      <div class = "row"></div>
      <div class = "row"></div>  <div class = "row"></div>
      <div class = "row"></div>
      <div class = "row"></div>
      <div class = "row"></div>
      <div class = "row"></div>
      <div class = "row"></div>  <div class = "row"></div>
      <div class = "row"></div>
      <div class = "row"></div>
    </div>
  </div>
  <div class = "row"></div>
  <div class = "row"></div>
  <div class = "row"></div>
  <div class = "row"></div>
</div>