<div class= "row">

  <div class = "col s6" ng-show="firstImage">
    <img class="responsive-img animated slideInRight" src='./images/frontpage.svg' />
  </div>
  <div class = "col s6"ng-show="secondImage">
    <img class="responsive-img animated slideInRight" src='./images/button.svg' />
  </div>
  <div class = "col s6"ng-show="thirdImage">
    <img class="responsive-img animated slideInRight" src='./images/frontpage.svg' />
  </div>
  <div class = "col s6"ng-show="fourthImage">
    <img class="responsive-img animated slideInRight" src='./images/frontpage.svg' />
  </div>
  <div class = "col s6" >
    
  </div>
  
  <div class = "col s12 center-align">
    <img ng-click="changeSlider()" class="responsive-img animated slideInRight" src='./images/button.svg' />
    <img ng-click="changeSlider()" class="responsive-img animated slideInRight" src='./images/button.svg' />
    <img ng-click="changeSlider()" class="responsive-img animated slideInRight" src='./images/button.svg' />

    <img ng-click="changeSlider()" class="responsive-img animated slideInRight" src='./images/button.svg' />


  </div>
</div>