<div class= "row">

  <div class = "col s6" ng-show="firstImage">
    <img class="responsive-img animated slideInRight" src='./images/frontpage.svg' />
  </div>
  <div class = "col s6"ng-show="secondImage">
    <img class="responsive-img animated slideInRight" src='./images/1xServerpink.svg' />
  </div>
  <div class = "col s6"ng-show="thirdImage">
    <img class="responsive-img animated slideInRight" src='./images/2xServergreen.svg' />
  </div>
  <div class = "col s6"ng-show="fourthImage">
    <img class="responsive-img animated slideInRight" src='./images/3xServerblue.svg' />
  </div>
  <div class = "col s6" >
    <div class = "row"></div>
    <div class = "row"></div>
    <div class = "row"></div>
    <div class = "row"></div>
    <h3 class = "montserrat">Shine Designs</h3>
    <div class = "col s12">
    <p class = "flow-text">alskdjflajsdflkajsldjflajsdlkfjaljflajkldjkljfalkdjkflajklfj</p>
    <p class = "flow-text">alskdjflajsdflkajsldjflajsdlkfjaljflajkldjkljfalkdjkflajklfj</p>
    <p class = "flow-text">alskdjflajsdflkajsldjflajsdlkfjaljflajkldjkljfalkdjkflajklfj</p>
    <p class = "flow-text">alskdjflajsdflkajsldjflajsdlkfjaljflajkldjkljfalkdjkflajklfj</p>
    <p class = "flow-text">alskdjflajsdflkajsldjflajsdlkfjaljflajkldjkljfalkdjkflajklfj</p>
    </div>
  </div>
  
  <div class = "col s12 center-align">
      <div ng-show="firstImage" style="display:inline;">
          <img ng-click="changeSlider()" class="responsive-img animated " src='./images/buttonselected.svg' />
          </div>
    <div ng-show="!firstImage" style="display:inline;">
    <img ng-click="changeSlider()" class="responsive-img animated " src='./images/button.svg' />
    </div>

    <div ng-show="secondImage"style="display:inline;">
        <img ng-click="changeSlider()" class="responsive-img animated fadeIn" src='./images/buttonselected.svg' />
        </div>
        <div ng-show="!secondImage"style="display:inline;">
            <img ng-click="changeSlider()" class="responsive-img animated " src='./images/button.svg' />
            </div>
            <div ng-show="thirdImage"style="display:inline;">
                <img ng-click="changeSlider()" class="responsive-img animated " src='./images/buttonselected.svg' />
                </div>
                <div ng-show="!thirdImage"style="display:inline;">
                    <img ng-click="changeSlider()" class="responsive-img animated " src='./images/button.svg' />
                    </div>

                    <div ng-show="fourthImage"style="display:inline;">
                        <img ng-click="changeSlider()" class="responsive-img animated " src='./images/buttonselected.svg' />
                        </div>
                        <div ng-show="!fourthImage"style="display:inline;">
                            <img ng-click="changeSlider()" class="responsive-img animated " src='./images/button.svg' />
                            </div>


  </div>
</div>