<div class="row animated fadeIn" ng-cloak>
    <div class="col s12">
        <h1 class="montserrat animated slideInRight">Zaid Darryl Samuel</h1>
        <h3 class="montserrat animated slideInRight">Full-Stack Developer</h3>
        <object id="svg-object" data='./images/octo.svg' type="image/svg+xml"
            style="height:100px; width:100px;"></object>

    </div>
    <div class="row">
        <div class="col s4" style="border:2px solid #ddd;">

        </div>
        <div class="col s8">

        </div>
    </div>
    <div class="col s4">
        <h4 class="montserrat"><i class="material-icons" style="font-size:40px;">developer_mode</i>Technical Skills</h4>
    </div>
    <div class="col s8">
        <div class="col s12">
            <div class="col s6">
                <h4 class="montserrat">HTML</h4>
            </div>
            <div class="col s6">
                <h4 class="montserrat">CSS</h4>
            </div>
            <div class="col s6">
                <h4 class="montserrat">Angular</h4>
            </div>
            <div class="col s6">
                <h4 class="montserrat">Angularjs</h4>
            </div>
            <div class="col s6">
                <h4 class="montserrat">React</h4>
            </div>
            <div class="col s6">
                <h4 class="montserrat">React Native</h4>
            </div>
            <div class="col s6">
                <h4 class="montserrat">MongoDb</h4>
            </div>
            <div class="col s6">
                <h4 class="montserrat">Mongoose DOM</h4>
            </div>
            <div class="col s6">
                <h4 class="montserrat">NodeJs</h4>
            </div>
            <div class="col s6">
                <h4 class="montserrat">Express</h4>
            </div>
            <div class="col s6">
                <h4 class="montserrat">Bootstrap</h4>
            </div>
            <div class="col s6">
                <h4 class="montserrat">Materialize CSS</h4>
            </div>
            <div class="col s6">
                <h4 class="montserrat">Jest</h4>
            </div>
            <div class="col s6">
                <h4 class="montserrat">React Native</h4>
            </div>
            <div class="col s6">
                <h4 class="montserrat">Adobe Illustrator</h4>
            </div>
            <div class="col s6">
                <h4 class="montserrat">Adobe Photoshop</h4>
            </div>
            <div class="col s6"></div>
            <div class="col s6"></div>
            <div class="col s6"></div>
            <div class="col s6"></div>
            <div class="col s6"></div>
        </div>

    </div>
    <div class="row">
        <div class="col s4" style="border:2px solid #ddd;">

        </div>
        <div class="col s8">

        </div>

    </div>
    <div class="col s4" ">
                    <h4 class=" montserrat"><i class="material-icons" style="font-size:40px;">work</i>Relevant
        Experience</h4>

    </div>
    <div class="col s8">
        <div class="row">
            <div class="col s12">
                <h5 class="montserrat" ng-click="openExperience();"><i class="material-icons"  style=" border:1px solid black; font-size:30px; box-shadow:2px 2px 2px grey; ">add</i>&nbsp Shine Bright Coaching
                </h5>

                <a href="www.shinebrightcoaching.ca" class="montserrat flow-text">
                    www.shinebrightcoaching.ca
                </a>
                <div ng-show="shineBright" class="animated fadeIn" ng-class="{'fadeIn':shineBright,'fadeOut:!shineBright;'}">
                <p class="montserrat flow-text">+ Technical Lead (Full-Stack Developer).
                </p>
                <p class="montserrat flow-text">
                    + Online schedule and booking system for Shine Bright Coaching.
                </p>
                <div class="col s12" style="border:1px solid #ddd;"></div>
                <div class="col s12 left-align">
                    <p class="montserrat flow-text">
                        + Graphic Design
                    </p>
                    <div class="col s4">
                        <div class="col s12" style="border:1px solid #ddd;"></div>
                    </div>
                    <div class="col s8"></div>
                </div>

                <div class="col s2 right-align">
                    <ul>

                        <li>
                            <span class="montserrat flow-text">
                                -
                            </span>
                        </li>
                        <li>
                            <span class="montserrat flow-text">
                                -
                            </span>
                        </li>


                    </ul>
                </div>
                <div class="col s10">
                    <ul>

                        <li>
                            <span class="montserrat flow-text">
                                Created logo.
                            </span>
                        </li>
                        <li>
                            <span class="montserrat flow-text">
                                Asset Creation.
                            </span>
                        </li>


                    </ul>
                </div>
                <div class="col s12 left-align">
                    <p class="montserrat flow-text">
                        + Front End
                    </p>
                    <div class="col s4">
                        <div class="col s12" style="border:1px solid #ddd;"></div>
                    </div>
                    <div class="col s8"></div>
                </div>

                <div class="col s2 right-align">
                    <ul>

                        <li>
                            <span class="montserrat flow-text">
                                -
                            </span>
                        </li>
                        <li>
                            <span class="montserrat flow-text">
                                -
                            </span>
                        </li>
                        <li><span class="montserrat flow-text">- </span>
                        </li>
                        <li><span class="montserrat flow-text">-</span>
                        </li>
                        <li><span class="montserrat flow-text">-</span>
                        </li>
                        <li><span class="montserrat flow-text">-</span>
                        </li>
                        <li><span class="montserrat flow-text">-</span>
                        </li>

                    </ul>
                </div>
                <div class="col s10">
                    <ul>

                        <li>
                            <span class="montserrat flow-text">
                                Created client booking system.
                            </span>
                        </li>
                        <li>
                            <span class="montserrat flow-text">
                                Created schedule management system.
                            </span>
                        </li>
                        <li><span class="montserrat flow-text">Created Admin/Client Messaging System.</span>
                        </li>
                        <li><span class="montserrat flow-text">Created Notes System.</span>
                        </li>
                        <li><span class="montserrat flow-text">Developed UX/UI.</span>
                        </li>
                        <li><span class="montserrat flow-text">Created Assets.</span>
                        </li>

                    </ul>
                </div>
                <div class="col s12 left-align">
                    <p class="montserrat flow-text">
                        + Back End
                    </p>
                    <div class="col s4">
                        <div class="col s12" style="border:1px solid #ddd;"></div>
                    </div>
                    <div class="col s8"></div>
                </div>

                <div class="col s2 right-align">
                    <ul>

                        <li>
                            <span class="montserrat flow-text">
                                -
                            </span>
                        </li>
                        <li>
                            <span class="montserrat flow-text">
                                -
                            </span>
                        </li>
                        <li><span class="montserrat flow-text">- </span>
                        </li>
                        <li><span class="montserrat flow-text">-</span>
                        </li>
                        <li><span class="montserrat flow-text">-</span>
                        </li>

                    </ul>
                </div>
                <div class="col s10">
                    <ul>

                        <li>
                            <span class="montserrat flow-text">
                                Modeled and implemented the database structure.
                            </span>
                        </li>
                        <li>
                            <span class="montserrat flow-text">
                                Deployed database to cloud database hosting service.
                            </span>
                        </li>
                        <li><span class="montserrat flow-text">Wrote and implemented server runtime using NodeJs.</span>
                        </li>
                        <li><span class="montserrat flow-text">Wrote and tested all APIs.</span>
                        </li>

                    </ul>
                </div>
                </div>
            </div>
        </div>
        <div class = "row"></div>
        <div class = "row"></div>
        <div class="row">
                <div class="col s12">
                    <h5 class="montserrat" ng-click="openExperience();"><i class="material-icons"  style=" border:1px solid black; font-size:30px; box-shadow:2px 2px 2px grey; ">add</i>&nbsp Shine Bright Coaching
                    </h5>
    
                    <a href="www.shinebrightcoaching.ca" class="montserrat flow-text">
                        www.shinebrightcoaching.ca
                    </a>
                    <div ng-show="shineBright" class="animated fadeIn" ng-class="{'fadeIn':shineBright,'fadeOut:!shineBright;'}">
                    <p class="montserrat flow-text">+ Technical Lead (Full-Stack Developer).
                    </p>
                    <p class="montserrat flow-text">
                        + Online schedule and booking system for Shine Bright Coaching.
                    </p>
                    <div class="col s12" style="border:1px solid #ddd;"></div>
                    <div class="col s12 left-align">
                        <p class="montserrat flow-text">
                            + Graphic Design
                        </p>
                        <div class="col s4">
                            <div class="col s12" style="border:1px solid #ddd;"></div>
                        </div>
                        <div class="col s8"></div>
                    </div>
    
                    <div class="col s2 right-align">
                        <ul>
    
                            <li>
                                <span class="montserrat flow-text">
                                    -
                                </span>
                            </li>
                            <li>
                                <span class="montserrat flow-text">
                                    -
                                </span>
                            </li>
    
    
                        </ul>
                    </div>
                    <div class="col s10">
                        <ul>
    
                            <li>
                                <span class="montserrat flow-text">
                                    Created logo.
                                </span>
                            </li>
                            <li>
                                <span class="montserrat flow-text">
                                    Asset Creation.
                                </span>
                            </li>
    
    
                        </ul>
                    </div>
                    <div class="col s12 left-align">
                        <p class="montserrat flow-text">
                            + Front End
                        </p>
                        <div class="col s4">
                            <div class="col s12" style="border:1px solid #ddd;"></div>
                        </div>
                        <div class="col s8"></div>
                    </div>
    
                    <div class="col s2 right-align">
                        <ul>
    
                            <li>
                                <span class="montserrat flow-text">
                                    -
                                </span>
                            </li>
                            <li>
                                <span class="montserrat flow-text">
                                    -
                                </span>
                            </li>
                            <li><span class="montserrat flow-text">- </span>
                            </li>
                            <li><span class="montserrat flow-text">-</span>
                            </li>
                            <li><span class="montserrat flow-text">-</span>
                            </li>
                            <li><span class="montserrat flow-text">-</span>
                            </li>
                            <li><span class="montserrat flow-text">-</span>
                            </li>
    
                        </ul>
                    </div>
                    <div class="col s10">
                        <ul>
    
                            <li>
                                <span class="montserrat flow-text">
                                    Created client booking system.
                                </span>
                            </li>
                            <li>
                                <span class="montserrat flow-text">
                                    Created schedule management system.
                                </span>
                            </li>
                            <li><span class="montserrat flow-text">Created Admin/Client Messaging System.</span>
                            </li>
                            <li><span class="montserrat flow-text">Created Notes System.</span>
                            </li>
                            <li><span class="montserrat flow-text">Developed UX/UI.</span>
                            </li>
                            <li><span class="montserrat flow-text">Created Assets.</span>
                            </li>
    
                        </ul>
                    </div>
                    <div class="col s12 left-align">
                        <p class="montserrat flow-text">
                            + Back End
                        </p>
                        <div class="col s4">
                            <div class="col s12" style="border:1px solid #ddd;"></div>
                        </div>
                        <div class="col s8"></div>
                    </div>
    
                    <div class="col s2 right-align">
                        <ul>
    
                            <li>
                                <span class="montserrat flow-text">
                                    -
                                </span>
                            </li>
                            <li>
                                <span class="montserrat flow-text">
                                    -
                                </span>
                            </li>
                            <li><span class="montserrat flow-text">- </span>
                            </li>
                            <li><span class="montserrat flow-text">-</span>
                            </li>
                            <li><span class="montserrat flow-text">-</span>
                            </li>
    
                        </ul>
                    </div>
                    <div class="col s10">
                        <ul>
    
                            <li>
                                <span class="montserrat flow-text">
                                    Modeled and implemented the database structure.
                                </span>
                            </li>
                            <li>
                                <span class="montserrat flow-text">
                                    Deployed database to cloud database hosting service.
                                </span>
                            </li>
                            <li><span class="montserrat flow-text">Wrote and implemented server runtime using NodeJs.</span>
                            </li>
                            <li><span class="montserrat flow-text">Wrote and tested all APIs.</span>
                            </li>
    
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col s12">
                        <h5 class="montserrat" ng-click="openExperience();"><i class="material-icons"  style=" border:1px solid black; font-size:30px; box-shadow:2px 2px 2px grey; ">add</i>&nbsp Shine Bright Coaching
                        </h5>
        
                        <a href="www.shinebrightcoaching.ca" class="montserrat flow-text">
                            www.shinebrightcoaching.ca
                        </a>
                        <div ng-show="shineBright" class="animated fadeIn" ng-class="{'fadeIn':shineBright,'fadeOut:!shineBright;'}">
                        <p class="montserrat flow-text">+ Technical Lead (Full-Stack Developer).
                        </p>
                        <p class="montserrat flow-text">
                            + Online schedule and booking system for Shine Bright Coaching.
                        </p>
                        <div class="col s12" style="border:1px solid #ddd;"></div>
                        <div class="col s12 left-align">
                            <p class="montserrat flow-text">
                                + Graphic Design
                            </p>
                            <div class="col s4">
                                <div class="col s12" style="border:1px solid #ddd;"></div>
                            </div>
                            <div class="col s8"></div>
                        </div>
        
                        <div class="col s2 right-align">
                            <ul>
        
                                <li>
                                    <span class="montserrat flow-text">
                                        -
                                    </span>
                                </li>
                                <li>
                                    <span class="montserrat flow-text">
                                        -
                                    </span>
                                </li>
        
        
                            </ul>
                        </div>
                        <div class="col s10">
                            <ul>
        
                                <li>
                                    <span class="montserrat flow-text">
                                        Created logo.
                                    </span>
                                </li>
                                <li>
                                    <span class="montserrat flow-text">
                                        Asset Creation.
                                    </span>
                                </li>
        
        
                            </ul>
                        </div>
                        <div class="col s12 left-align">
                            <p class="montserrat flow-text">
                                + Front End
                            </p>
                            <div class="col s4">
                                <div class="col s12" style="border:1px solid #ddd;"></div>
                            </div>
                            <div class="col s8"></div>
                        </div>
        
                        <div class="col s2 right-align">
                            <ul>
        
                                <li>
                                    <span class="montserrat flow-text">
                                        -
                                    </span>
                                </li>
                                <li>
                                    <span class="montserrat flow-text">
                                        -
                                    </span>
                                </li>
                                <li><span class="montserrat flow-text">- </span>
                                </li>
                                <li><span class="montserrat flow-text">-</span>
                                </li>
                                <li><span class="montserrat flow-text">-</span>
                                </li>
                                <li><span class="montserrat flow-text">-</span>
                                </li>
                                <li><span class="montserrat flow-text">-</span>
                                </li>
        
                            </ul>
                        </div>
                        <div class="col s10">
                            <ul>
        
                                <li>
                                    <span class="montserrat flow-text">
                                        Created client booking system.
                                    </span>
                                </li>
                                <li>
                                    <span class="montserrat flow-text">
                                        Created schedule management system.
                                    </span>
                                </li>
                                <li><span class="montserrat flow-text">Created Admin/Client Messaging System.</span>
                                </li>
                                <li><span class="montserrat flow-text">Created Notes System.</span>
                                </li>
                                <li><span class="montserrat flow-text">Developed UX/UI.</span>
                                </li>
                                <li><span class="montserrat flow-text">Created Assets.</span>
                                </li>
        
                            </ul>
                        </div>
                        <div class="col s12 left-align">
                            <p class="montserrat flow-text">
                                + Back End
                            </p>
                            <div class="col s4">
                                <div class="col s12" style="border:1px solid #ddd;"></div>
                            </div>
                            <div class="col s8"></div>
                        </div>
        
                        <div class="col s2 right-align">
                            <ul>
        
                                <li>
                                    <span class="montserrat flow-text">
                                        -
                                    </span>
                                </li>
                                <li>
                                    <span class="montserrat flow-text">
                                        -
                                    </span>
                                </li>
                                <li><span class="montserrat flow-text">- </span>
                                </li>
                                <li><span class="montserrat flow-text">-</span>
                                </li>
                                <li><span class="montserrat flow-text">-</span>
                                </li>
        
                            </ul>
                        </div>
                        <div class="col s10">
                            <ul>
        
                                <li>
                                    <span class="montserrat flow-text">
                                        Modeled and implemented the database structure.
                                    </span>
                                </li>
                                <li>
                                    <span class="montserrat flow-text">
                                        Deployed database to cloud database hosting service.
                                    </span>
                                </li>
                                <li><span class="montserrat flow-text">Wrote and implemented server runtime using NodeJs.</span>
                                </li>
                                <li><span class="montserrat flow-text">Wrote and tested all APIs.</span>
                                </li>
        
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
      
    </div>
</div>