<div class="row background" ng-cloak>



  <div class="row"></div>
  <div class="col s12 left-align" style="background-image:url('./images/newcloud.svg');">
    <div class = "row"></div>

    <div class = "row"></div>
    <div class = "row"></div>
    <div class = "row"></div>
    <div class = "col s9">
            <h1 class=" black-text montserrat">Express yourself! </h1>
            <p class="montserrat black-text" style="font-size:30px;">Downgrade or upgrade any time.</p>
<br>
<br>

    <p class="flow-text black-text montserrat"style='font-size:28px;'>
            All "Shine Design" applications are built using the AWS (Amazon Web Services) cloud hosting platform
            to deliver
            powerful, flexible, and secure storage for your customer's precious data.
            With AWS's proven experience, maturity, reliability, security, and performance your customer's data
            is always at your fingertips. </p>
            </div>
            <div class = "col s3">
             
        <object class="left-align" id="svg-object" data='./images/rocket22.svg' type="image/svg+xml"></object>
               
    </div>
       <!-- <div class = "col s12 right-align">
                <a class="waves-effect waves-light btn-large white " ng-click="launchRocket()"><img src='./images/launch.svg'>Launch!</a>
        </div>-->
    <!--<img class="img-responsive animated fixed " src='./images/diskus.svg' />-->

</div>
<div class="col s4 left-align">
  <img class="responsive-img animated slideInRight" src='./images/theme.svg' />


</div>
<div class = "col s8">

</div>
<img class="img-responsive animated fixed " src='./images/tricircleup.svg' />
<!--style="background-image:url('./images/mountain.svg')"-->
<div class = "col s12" >
 
<canvas id="line" class="chart chart-line" width="600" height="250" chart-data="data"
chart-labels="labels" chart-series="series" chart-options="options"
chart-dataset-override="datasetOverride" chart-click="onClick">
</canvas>

</div>
<div class = "col s12 center-align">
  <h3 class="montserrat center-align" style="padding-left: 5rem; "> Custom UI</h3>
</div>
<div class="col s12" id="overlay">
<div class = "col s3">
  <img src="./images/home.svg"style="height:50px; width:50px;">
</div>
<div class = "col s9 center-align">
      <p class = "montserrat flow-text">Home</p>

</div>
<div class = "col s3">
      <img src="./images/build.svg" style="height:50px; width:50px;">
  </div>
  <div class = "col s9 center-align">
      <p class = "montserrat flow-text">Build</p>
  </div>
  <div class = "col s3">
          <img src="./images/contact.svg" style="height:50px; width:50px;">
      </div>
      <div class = "col s9 center-align">
          <p class = "montserrat flow-text">Contact</p>
      </div>
      <div class = "col s3">
              <img src="./images/music.svg" style="height:50px; width:50px;">
          </div>
          <div class = "col s9 center-align">
              <p class = "montserrat flow-text">Audio</p>
          </div>
          <div class = "col s3">
                  <img src="./images/help.svg" style="height:50px; width:50px;">
              </div>
              <div class = "col s9 center-align">
                  <p class = "montserrat flow-text">Help</p>
              </div>
              </div>
              <div class="row ">
                <div class="col s4 left-align">
                  <div class="row ">
                  
                    <div class = "row">
          
                    </div>
                    <div class = "row">
                      
                      </div>
                      <div class = "row">
                      
                        </div>
                        <div class = "row">
                      
                          </div>
                          <div class = "row black">
                      
                            </div>
                    <div class="col s12 center-align ">
                      <div 
                       ">
                        &nbsp; <div class="row ">
                      
          
                          <div class="col s12 center-align">
                            <div class="col s12" >
                              <div class="col s3"> </div>
                              <div class="col s3"> </div>
                              <a href="#">
                                <div ng-show="nightMode" class="col s3 left-align animated slideInRight"><i
                                    class="material-icons animated purple-text text-lighten-4" ng-class="{'fadeOutLeft':menuPressedContact}"
                                    style="font-size:20px;">camera</i> </div>
                              </a>
                              <a href="#">
                                <div ng-show="!nightMode" class="col s3 left-align animated slideInRight"><img src="./images/help.svg" style="height:50px; width:50px;"> </div>
                              </a>
                              <div class="col s3 "> </div>
                            </div>
                            <div class="col s12">
                              <a href="#">
                                <div ng-show="nightMode" class="col s4 right-align animated slideInDown"><i
                                    class="material-icons animated transitions grey-text "
                                    ng-class="{'fadeOutDown':menuPressedContact}">camera</i> </div>
                              </a>
                              <a href="#">
                                <div ng-show="!nightMode" class="col s4 right-align animated slideInDown"><img src="./images/music.svg" style="height:50px; width:50px;"></div>
                              </a>
                              <a href="#">
                                <div ng-show="nightMode" class="col s4 "><i class="material-icons animated fadeIn grey-text "
                                    style="font-size:40px" ng-class="{'fadeOut':fadeOutHome}">home</i> </div>
                              </a>
                              <a href="#">
                                <div ng-show='!nightMode' class="col s4 "> <img src="./images/home.svg"style="height:50px; width:50px;"> </div>
                              </a>
                              <a href="#">
                                <div ng-show="nightMode" class="col s4 left-align animated slideInUp " ng-click="openContact()">
                                  <i class="material-icons animated grey-text "
                                    ng-class="{'fadeOutUp':menuPressedContact,'fadeInUp':menuPressedContact,'makesmall':menuPressedContact }">business</i></div>
                              </a>
                              <a href="#">
                                <div ng-show="!nightMode" class="col s4 left-align animated slideInUp " ng-click="openContact()">
                                  <img src="./images/contact.svg" style="height:50px; width:50px;"></div>
                              </a>
          
                            </div>
                            <div class="col s12">
                              <div class="col s3"> </div>
                              <a href="#"></a>
                              <div ng-show="nightMode" class="col s3 right-align  animated slideInLeft"> <i
                                  class="material-icons animated grey-text " ng-class="{'fadeOutRight':menuPressedContact}"
                                  style="font-size:45px">build</i></div></a>
                              <a href="#"></a>
                              <div ng-show="!nightMode" class="col s3 right-align  animated slideInLeft"> <img src="./images/build.svg" style="height:50px; width:50px;"></div></a>
                              <div class="col s3 right-align"> </div>
                              <div class="col s3 "><i class="fas fa-moon" style="font-size:20px;"></i> </div>
                            </div>
          
          
          
                          </div>
          
          
          
                        </div>
                      </div>
          
                    </div>
          
          
                  </div>
                </div>
          
                <div class="col s8 ">
                    <h3 class="montserrat center-align" style="padding-left: 5rem; "> Custom UI</h3>
                    <div class = "col s2"></div>
                    <div class = "col s10 center-align  lighten-5" >
                    <p class="flow-text grey-text">Whether communicating with your clients with the gemini messaging system. Or
                        managing your inventory with Dumbo; You're going
                        to need a place to store all of that info! </p>
                        <a href="#storage" class="waves-effect green lighten-4 btn-flat"></i>View details</a>
                    </div>
                
                </div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class = 'col s4 center-align'>
                  <br>
                  <br>
                  <br>
                  <br>
                    <img  class="responsive-img animated slideInRight" src='./images/logo.svg' />
          
                </div>
                <div class = "col s8">
                    <h3 class="montserrat center-align"> Logo Creation</h3>
                    <div class = "col s2"></div>
                    <div class = "col s10 grey lighten-4" style="box-shadow:2px 2px 2px grey;">
                    <p class="flow-text grey-text">Whether communicating with your clients with the gemini messaging system. Or
                        managing your inventory with Dumbo; You're going
                        to need a place to store all of that info! </p>
                    </div>
                </div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class = 'col s4 center-align'>
                    <i class="large material-icons">insert_chart</i>
                    <i class="large material-icons">cloud_queue</i>
                    <i class="large material-icons">domain</i>
                    <i class="large material-icons">fitness_center</i>
                    <i class="large material-icons">golf_course</i>
                    <i class="large material-icons">hearing</i>
          
                </div>
                
                <div class = "col s8">
                    <h3 class="montserrat center-align"> Asset Creation</h3>
                    <div class = "col s2"></div>
                    <div class = "col s10 grey lighten-4">
                    <p class="flow-text grey-text">Whether communicating with your clients with the gemini messaging system. Or
                        managing your inventory with Dumbo; You're going
                        to need a place to store all of that info! </p>
                    </div>
                </div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class = 'col s4 center-align'>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                    <canvas id="line" class="chart chart-line"  chart-data="data"
                    chart-labels="labels" chart-series="series" chart-options="options"
                    chart-dataset-override="datasetOverride" chart-click="onClick">
                </canvas>
                </div>
                <div class = "col s8">
                    <h3 class="montserrat center-align"> Colorful Data Visualisation</h3>
                    <div class = "col s2"></div>
                    <div class = "col s10 grey lighten-4">
                    <p class="flow-text grey-text">Whether communicating with your clients with the gemini messaging system. Or
                        managing your inventory with Dumbo; You're going
                        to need a place to store all of that info! </p>
                    </div>
                </div>
                <div class="col s12 center-align grey lighten-4">
                  <p class="flow-text grey-text">Whether communicating with your clients with the gemini messaging system. Or
                    managing your inventory with Dumbo; You're going
                    to need a place to store all of that info! </p>
          
                  <a href="#storage" class="waves-effect purple lighten-4 btn-flat"></i>View details</a>
          
          
                </div>
                <div class="col s12 section scrollspy" id="storage">
          
          
                  <div class="col s4 center-align grey lighten-4" style="border:1px solid #ddd">
                    <h2 style="font-size:18px;" class="montserrat"> Suitcase</h2>
                    <div class="divider"></div>
          
                    <div class="col s12">
                      <div class="col s2">
          
                      </div>
                      <div class="col s8 purple lighten-5">
          
                        <div class="col s12 ">
          
                          <div class="col s12">
                            <img class="img-responsive animated slideInRight" src='./images/smallstorage.svg' />
                            <div class="divider"></div>
                          </div>
          
                        </div>
                        <div class="divider"></div>
                        <span class="montserrat">CORE PLATFORM FEATURES</span>
                        <div class="divider"></div>
                        <span class="montserrat"><i class="material-icons">check</i>Expert database support</span>
                        <span class="montserrat"><i class="material-icons">check</i>Expert database support</span>
                        <span class="montserrat"><i class="material-icons">check</i>Expert database support</span>
          
                        <div class="row"></div>
                        <div class="row"></div>
                        <div class="row"></div>
                        <span class="montserrat">Monthly Price</span>
                        <div class="divider"></div>
                        <span class="montserrat" style="font-size:20px;">$50/mo</span>
                      </div>
                      <div class="col s2">
          
                      </div>
                    </div>
          
                  </div>
          
                  <div class="col s4 center-align grey lighten-4" style="border:1px solid #ddd">
                    <h2 style="font-size:18px;" class="montserrat"> Standard</h2>
                    <div class="divider"></div>
          
                    <div class="col s12">
                      <div class="col s2">
          
                      </div>
                      <div class="col s8 purple lighten-5">
          
                        <div class="col s12 ">
          
                          <div class="col s12">
                            <!--<img class="img-responsive animated slideInRight" src='./images/medstorage.svg' />-->
                            <div class="divider"></div>
                          </div>
          
                        </div>
                        <div class="divider"></div>
                        <span class="montserrat">CORE PLATFORM FEATURES</span>
                        <div class="divider"></div>
                        <span class="montserrat"><i class="material-icons flow-text">check</i>Dedicated VMs (guaranteed RAM, CPU &
                          I/O)</span>
                        <span class="montserrat"><i class="material-icons flow-text">check</i>24x7 emergency contact</span>
                        <span class="montserrat"><i class="material-icons flow-text">check</i>More security options (e.g.,
                          firewalling)</span>
          
                        <div class="row"></div>
          
                        <span class="montserrat">Monthly Price</span>
                        <div class="divider"></div>
                        <span class="montserrat" style="font-size:20px;">$50/mo</span>
                      </div>
                      <div class="col s2">
          
                      </div>
                    </div>
          
                  </div>
                  <div class="col s4 center-align grey lighten-4" style="border:1px solid #ddd">
                    <h2 style="font-size:18px;" class="montserrat"> Professional</h2>
                    <div class="divider"></div>
                    <div class="col s12">
                      <div class="col s2">
          
                      </div>
                      <div class="col s8 purple lighten-5">
          
                        <div class="col s12 ">
          
                          <div class="col s12">
                            <img class="img-responsive animated slideInRight" src='./images/largestorage.svg' />
                            <div class="divider"></div>
                          </div>
          
                        </div>
                        <div class="divider"></div>
                        <span class="montserrat">CORE PLATFORM FEATURES</span>
                        <div class="divider"></div>
                        <span class="montserrat"><i class="material-icons flow-text">check</i>Zero-downtime vertical and
                          horizontal
                          scaling</span>
                        <span class="montserrat"><i class="material-icons flow-text">check</i>24x7 emergency contact</span>
                        <span class="montserrat"><i class="material-icons flow-text">check</i>More security options (e.g.,
                          firewalling)</span>
          
                        <div class="row"></div>
          
                        <span class="montserrat">Monthly Price</span>
                        <div class="divider"></div>
                        <span class="montserrat" style="font-size:20px;">$50/mo</span>
                      </div>
                      <div class="col s2">
          
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="col s12 section scrollspy" id="details">
          
                  <div class="col s2">
          
                  </div>
                  <div class="col s8 center-align grey lighten-4 section scrollspy " ng-class="{'fadeoutdiv':!detailedTableOpen}">
          
                    <div class="row">
          
                      <div class="col s12">
                        <table ng-show="!detailedTableOpen" class="responsive-table animated fadeIn">
          
          
                          <tbody>
                            <tr>
                              <td class="purple lighten-5">What Does It Do?</td>
                              <td>Perfect for small scale personal projects and hobby apps.</td>
                              <td class="white">Enhanced visibility, performance, and availability for powering your production
                                applications.</td>
                              <td>Superior performance when it's most critical for your super scale, high traffic apps.</td>
          
                            </tr>
          
                          </tbody>
                        </table>
                        <table ng-show="detailedTableOpen" class="responsive-table animated fadeIn">
                          <thead>
                            <tr>
                              <!--  <th></th>
                                          <th> <img  class = "img-responsive animated slideInRight" src='./images/1xServer.svg'/></th>
                                          <th><img  class = "img-responsive animated slideInRight" src='./images/2xServer.svg'/></th>
                                          <th><img  class = "img-responsive animated slideInRight" src='./images/3xServer.svg'/></th>
                                        -->
                            </tr>
                          </thead>
          
                          <tbody>
                            <tr style="border-bottom:1px solid #ddd;">
                              <!-- style="border-top-left-radius:50%; border-top-right-radius:50%;-->
                              <td class="purple lighten-5" style="box-shadow:2px 2px 2px grey;">What Does It Do?</td>
                              <td class="center-align">Perfect for small scale personal projects and hobby apps.</td>
                              <td class="grey white-text center-align " style="box-shadow:2px 2px 2px grey; ">Enhanced visibility,
                                performance, and availability for powering your production applications.</td>
                              <td class="center-align" ">Superior performance when it's most critical for your super scale, high traffic apps.</td>
                      
                                          </tr>
                                      <tr style=" border-bottom:1px solid #ddd;">
                              <td class="purple lighten-5" style="box-shadow:2px 2px 2px grey;">What Does It Do?</td>
                              <td class="center-align">Perfect for small scale personal projects and hobby apps.</td>
                              <td class="grey white-text center-align " style="box-shadow:2px 2px 2px grey; ">Enhanced visibility,
                                performance, and availability for powering your production applications.</td>
                              <td class="center-align">Superior performance when it's most critical for your super scale, high
                                traffic apps.</td>
          
                            </tr>
                            <tr style="border-bottom:1px solid #ddd;">
                              <td class="purple lighten-5" style="box-shadow:2px 2px 2px grey;">Ram</td>
                              <td class="center-align">512mb</td>
                              <td class="grey white-text center-align" style="box-shadow:2px 2px 2px grey;">1GB</td>
                              <td class="center-align">2.5 - 14GB</td>
                            </tr>
                            <tr style="border-bottom:1px solid #ddd;">
                              <td class="purple lighten-5" style="box-shadow:2px 2px 2px grey;">Detailed Logging</td>
                              <td class="center-align">Lollipop</td>
                              <td class="grey white-text center-align" style="box-shadow:2px 2px 2px grey;">$7.00</td>
                            </tr>
                            <tr style="border-bottom:1px solid #ddd;">
                              <td class="purple lighten-5" style="box-shadow:2px 2px 2px grey;">Custom Domain</td>
                              <td class="center-align">Lollipop</td>
                              <td class="grey white-text center-align" style="box-shadow:2px 2px 2px grey;">$7.00</td>
                            </tr>
                            <tr style="border-bottom:1px solid #ddd;">
                              <td class="purple lighten-5" style="box-shadow:2px 2px 2px grey;">Free SSL</td>
                              <td class="center-align">Lollipop</td>
                              <td class="grey white-text center-align" style="box-shadow:2px 2px 2px grey;">$7.00</td>
                            </tr>
                            <tr style="border-bottom:1px solid #ddd;">
                              <td class="purple lighten-5" style="box-shadow:2px 2px 2px grey;">Dedicated</td>
                              <td class="center-align">No</td>
                              <td class="grey white-text center-align" style="box-shadow:2px 2px 2px grey;">No</td>
                              <td class="center-align">Yes</td>
                            </tr>
                            <tr>
                              <td class="purple lighten-5" style="box-shadow:2px 2px 2px grey;">Autoscaling</td>
                              <td class="center-align">Lollipop</td>
                              <td class="grey white-text center-align" style="box-shadow:2px 2px 2px grey;">$7.00</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
          
                    </div>
          
                  </div>
                  <div class="col s12 center-align">
          
                    <a ng-click="openDetailedTable()" class="waves-effect purple lighten-4 btn-flat">View details</a>
          
                  </div>
          
                </div>
          
          
                <div class="col s12 section scrollspy" id="mediumstorage">
                  <div class="col s2">
          
                  </div>
                  <div class="col s8 center-align grey lighten-4">
          
                  </div>
                  <div class="col s2">
          
                  </div>
                </div>
          
          
                <div class="col s12">
                  <div class="col s2">
          
                  </div>
          
                  <div class="col s8 center-align section scrollspy grey lighten-4" id="largestorage">
          
                  </div>
                  <div class="col s42">
          
                  </div>
                </div>
          
              </div>
</div>


  <div class="col s12">







    <div class="col s4 left-align">
      <!--img class="responsive-img animated slideInRight" src='./images/theme.svg' />
      -->

    </div>
    <div class="col s8 left-align ">
      <h3 class="montserrat"> Themes</h3>
      <div class="row">
        <div class="col s2"></div>
        <div class="col s8 ">
          <p class="flow-text grey-text">Whether communicating with your clients with the gemini messaging system. Or
            managing your inventory with Dumbo; You're going
            to need a place to store all of that info! </p>

          <a href="#storage" class="waves-effect purple lighten-4 btn-flat"></i>View details</a>

        </div>
        <div class="col s2"></div>
      </div>
    </div>

    <div class="row ">
      <div class="col s4 left-align">
        <div class="row ">
        
          <div class = "row">

          </div>
          <div class = "row">
            
            </div>
            <div class = "row">
            
              </div>
              <div class = "row">
            
                </div>
                <div class = "row black">
            
                  </div>
          <div class="col s12 center-align ">
            <div class="whitemodenavigation"
              ng-class="{'nightmodenavigation': nightMode,'whitemodenavigation':!nightMode}">
              &nbsp; <div class="row ">
            

                <div class="col s12 center-align">
                  <div class="col s12" >
                    <div class="col s3"> </div>
                    <div class="col s3"> </div>
                    <a href="#">
                      <div ng-show="nightMode" class="col s3 left-align animated slideInRight"><i
                          class="material-icons animated purple-text text-lighten-4" ng-class="{'fadeOutLeft':menuPressedContact}"
                          style="font-size:20px;">camera</i> </div>
                    </a>
                    <a href="#">
                      <div ng-show="!nightMode" class="col s3 left-align animated slideInRight"><img src="./images/help.svg" style="height:50px; width:50px;"> </div>
                    </a>
                    <div class="col s3 "> </div>
                  </div>
                  <div class="col s12">
                    <a href="#">
                      <div ng-show="nightMode" class="col s4 right-align animated slideInDown"><i
                          class="material-icons animated transitions grey-text "
                          ng-class="{'fadeOutDown':menuPressedContact}">camera</i> </div>
                    </a>
                    <a href="#">
                      <div ng-show="!nightMode" class="col s4 right-align animated slideInDown"><img src="./images/music.svg" style="height:50px; width:50px;"></div>
                    </a>
                    <a href="#">
                      <div ng-show="nightMode" class="col s4 "><i class="material-icons animated fadeIn grey-text "
                          style="font-size:40px" ng-class="{'fadeOut':fadeOutHome}">home</i> </div>
                    </a>
                    <a href="#">
                      <div ng-show='!nightMode' class="col s4 "> <img src="./images/home.svg"style="height:50px; width:50px;"> </div>
                    </a>
                    <a href="#">
                      <div ng-show="nightMode" class="col s4 left-align animated slideInUp " ng-click="openContact()">
                        <i class="material-icons animated grey-text "
                          ng-class="{'fadeOutUp':menuPressedContact,'fadeInUp':menuPressedContact,'makesmall':menuPressedContact }">business</i></div>
                    </a>
                    <a href="#">
                      <div ng-show="!nightMode" class="col s4 left-align animated slideInUp " ng-click="openContact()">
                        <img src="./images/contact.svg" style="height:50px; width:50px;"></div>
                    </a>

                  </div>
                  <div class="col s12">
                    <div class="col s3"> </div>
                    <a href="#"></a>
                    <div ng-show="nightMode" class="col s3 right-align  animated slideInLeft"> <i
                        class="material-icons animated grey-text " ng-class="{'fadeOutRight':menuPressedContact}"
                        style="font-size:45px">build</i></div></a>
                    <a href="#"></a>
                    <div ng-show="!nightMode" class="col s3 right-align  animated slideInLeft"> <img src="./images/build.svg" style="height:50px; width:50px;"></div></a>
                    <div class="col s3 right-align"> </div>
                    <div class="col s3 "><i class="fas fa-moon" style="font-size:20px;"></i> </div>
                  </div>



                </div>



              </div>
            </div>

          </div>


        </div>
      </div>

      <div class="col s8 ">
          <h3 class="montserrat center-align" style="padding-left: 5rem; "> Custom UI</h3>
          <div class = "col s2"></div>
          <div class = "col s10 center-align grey lighten-5" >
          <p class="flow-text grey-text">Whether communicating with your clients with the gemini messaging system. Or
              managing your inventory with Dumbo; You're going
              to need a place to store all of that info! </p>
              <a href="#storage" class="waves-effect green lighten-4 btn-flat"></i>View details</a>
          </div>
      
      </div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class = 'col s4 center-align'>
        <br>
        <br>
        <br>
        <br>
          <img  class="responsive-img animated slideInRight" src='./images/logo.svg' />

      </div>
      <div class = "col s8">
          <h3 class="montserrat center-align"> Logo Creation</h3>
          <div class = "col s2"></div>
          <div class = "col s10 grey lighten-4" style="box-shadow:2px 2px 2px grey;">
          <p class="flow-text grey-text">Whether communicating with your clients with the gemini messaging system. Or
              managing your inventory with Dumbo; You're going
              to need a place to store all of that info! </p>
          </div>
      </div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class = 'col s4 center-align'>
          <i class="large material-icons">insert_chart</i>
          <i class="large material-icons">cloud_queue</i>
          <i class="large material-icons">domain</i>
          <i class="large material-icons">fitness_center</i>
          <i class="large material-icons">golf_course</i>
          <i class="large material-icons">hearing</i>

      </div>
      
      <div class = "col s8">
          <h3 class="montserrat center-align"> Asset Creation</h3>
          <div class = "col s2"></div>
          <div class = "col s10 grey lighten-4">
          <p class="flow-text grey-text">Whether communicating with your clients with the gemini messaging system. Or
              managing your inventory with Dumbo; You're going
              to need a place to store all of that info! </p>
          </div>
      </div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class = 'col s4 center-align'>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
          <canvas id="line" class="chart chart-line"  chart-data="data"
          chart-labels="labels" chart-series="series" chart-options="options"
          chart-dataset-override="datasetOverride" chart-click="onClick">
      </canvas>
      </div>
      <div class = "col s8">
          <h3 class="montserrat center-align"> Colorful Data Visualisation</h3>
          <div class = "col s2"></div>
          <div class = "col s10 grey lighten-4">
          <p class="flow-text grey-text">Whether communicating with your clients with the gemini messaging system. Or
              managing your inventory with Dumbo; You're going
              to need a place to store all of that info! </p>
          </div>
      </div>
      <div class="col s12 center-align grey lighten-4">
        <p class="flow-text grey-text">Whether communicating with your clients with the gemini messaging system. Or
          managing your inventory with Dumbo; You're going
          to need a place to store all of that info! </p>

        <a href="#storage" class="waves-effect purple lighten-4 btn-flat"></i>View details</a>


      </div>
      <div class="col s12 section scrollspy" id="storage">


        <div class="col s4 center-align grey lighten-4" style="border:1px solid #ddd">
          <h2 style="font-size:18px;" class="montserrat"> Suitcase</h2>
          <div class="divider"></div>

          <div class="col s12">
            <div class="col s2">

            </div>
            <div class="col s8 purple lighten-5">

              <div class="col s12 ">

                <div class="col s12">
                  <img class="img-responsive animated slideInRight" src='./images/smallstorage.svg' />
                  <div class="divider"></div>
                </div>

              </div>
              <div class="divider"></div>
              <span class="montserrat">CORE PLATFORM FEATURES</span>
              <div class="divider"></div>
              <span class="montserrat"><i class="material-icons">check</i>Expert database support</span>
              <span class="montserrat"><i class="material-icons">check</i>Expert database support</span>
              <span class="montserrat"><i class="material-icons">check</i>Expert database support</span>

              <div class="row"></div>
              <div class="row"></div>
              <div class="row"></div>
              <span class="montserrat">Monthly Price</span>
              <div class="divider"></div>
              <span class="montserrat" style="font-size:20px;">$50/mo</span>
            </div>
            <div class="col s2">

            </div>
          </div>

        </div>

        <div class="col s4 center-align grey lighten-4" style="border:1px solid #ddd">
          <h2 style="font-size:18px;" class="montserrat"> Standard</h2>
          <div class="divider"></div>

          <div class="col s12">
            <div class="col s2">

            </div>
            <div class="col s8 purple lighten-5">

              <div class="col s12 ">

                <div class="col s12">
                  <!--<img class="img-responsive animated slideInRight" src='./images/medstorage.svg' />-->
                  <div class="divider"></div>
                </div>

              </div>
              <div class="divider"></div>
              <span class="montserrat">CORE PLATFORM FEATURES</span>
              <div class="divider"></div>
              <span class="montserrat"><i class="material-icons flow-text">check</i>Dedicated VMs (guaranteed RAM, CPU &
                I/O)</span>
              <span class="montserrat"><i class="material-icons flow-text">check</i>24x7 emergency contact</span>
              <span class="montserrat"><i class="material-icons flow-text">check</i>More security options (e.g.,
                firewalling)</span>

              <div class="row"></div>

              <span class="montserrat">Monthly Price</span>
              <div class="divider"></div>
              <span class="montserrat" style="font-size:20px;">$50/mo</span>
            </div>
            <div class="col s2">

            </div>
          </div>

        </div>
        <div class="col s4 center-align grey lighten-4" style="border:1px solid #ddd">
          <h2 style="font-size:18px;" class="montserrat"> Professional</h2>
          <div class="divider"></div>
          <div class="col s12">
            <div class="col s2">

            </div>
            <div class="col s8 purple lighten-5">

              <div class="col s12 ">

                <div class="col s12">
                  <img class="img-responsive animated slideInRight" src='./images/largestorage.svg' />
                  <div class="divider"></div>
                </div>

              </div>
              <div class="divider"></div>
              <span class="montserrat">CORE PLATFORM FEATURES</span>
              <div class="divider"></div>
              <span class="montserrat"><i class="material-icons flow-text">check</i>Zero-downtime vertical and
                horizontal
                scaling</span>
              <span class="montserrat"><i class="material-icons flow-text">check</i>24x7 emergency contact</span>
              <span class="montserrat"><i class="material-icons flow-text">check</i>More security options (e.g.,
                firewalling)</span>

              <div class="row"></div>

              <span class="montserrat">Monthly Price</span>
              <div class="divider"></div>
              <span class="montserrat" style="font-size:20px;">$50/mo</span>
            </div>
            <div class="col s2">

            </div>
          </div>
        </div>
      </div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="col s12 section scrollspy" id="details">

        <div class="col s2">

        </div>
        <div class="col s8 center-align grey lighten-4 section scrollspy " ng-class="{'fadeoutdiv':!detailedTableOpen}">

          <div class="row">

            <div class="col s12">
              <table ng-show="!detailedTableOpen" class="responsive-table animated fadeIn">


                <tbody>
                  <tr>
                    <td class="purple lighten-5">What Does It Do?</td>
                    <td>Perfect for small scale personal projects and hobby apps.</td>
                    <td class="white">Enhanced visibility, performance, and availability for powering your production
                      applications.</td>
                    <td>Superior performance when it's most critical for your super scale, high traffic apps.</td>

                  </tr>

                </tbody>
              </table>
              <table ng-show="detailedTableOpen" class="responsive-table animated fadeIn">
                <thead>
                  <tr>
                    <!--  <th></th>
                                <th> <img  class = "img-responsive animated slideInRight" src='./images/1xServer.svg'/></th>
                                <th><img  class = "img-responsive animated slideInRight" src='./images/2xServer.svg'/></th>
                                <th><img  class = "img-responsive animated slideInRight" src='./images/3xServer.svg'/></th>
                              -->
                  </tr>
                </thead>

                <tbody>
                  <tr style="border-bottom:1px solid #ddd;">
                    <!-- style="border-top-left-radius:50%; border-top-right-radius:50%;-->
                    <td class="purple lighten-5" style="box-shadow:2px 2px 2px grey;">What Does It Do?</td>
                    <td class="center-align">Perfect for small scale personal projects and hobby apps.</td>
                    <td class="grey white-text center-align " style="box-shadow:2px 2px 2px grey; ">Enhanced visibility,
                      performance, and availability for powering your production applications.</td>
                    <td class="center-align" ">Superior performance when it's most critical for your super scale, high traffic apps.</td>
            
                                </tr>
                            <tr style=" border-bottom:1px solid #ddd;">
                    <td class="purple lighten-5" style="box-shadow:2px 2px 2px grey;">What Does It Do?</td>
                    <td class="center-align">Perfect for small scale personal projects and hobby apps.</td>
                    <td class="grey white-text center-align " style="box-shadow:2px 2px 2px grey; ">Enhanced visibility,
                      performance, and availability for powering your production applications.</td>
                    <td class="center-align">Superior performance when it's most critical for your super scale, high
                      traffic apps.</td>

                  </tr>
                  <tr style="border-bottom:1px solid #ddd;">
                    <td class="purple lighten-5" style="box-shadow:2px 2px 2px grey;">Ram</td>
                    <td class="center-align">512mb</td>
                    <td class="grey white-text center-align" style="box-shadow:2px 2px 2px grey;">1GB</td>
                    <td class="center-align">2.5 - 14GB</td>
                  </tr>
                  <tr style="border-bottom:1px solid #ddd;">
                    <td class="purple lighten-5" style="box-shadow:2px 2px 2px grey;">Detailed Logging</td>
                    <td class="center-align">Lollipop</td>
                    <td class="grey white-text center-align" style="box-shadow:2px 2px 2px grey;">$7.00</td>
                  </tr>
                  <tr style="border-bottom:1px solid #ddd;">
                    <td class="purple lighten-5" style="box-shadow:2px 2px 2px grey;">Custom Domain</td>
                    <td class="center-align">Lollipop</td>
                    <td class="grey white-text center-align" style="box-shadow:2px 2px 2px grey;">$7.00</td>
                  </tr>
                  <tr style="border-bottom:1px solid #ddd;">
                    <td class="purple lighten-5" style="box-shadow:2px 2px 2px grey;">Free SSL</td>
                    <td class="center-align">Lollipop</td>
                    <td class="grey white-text center-align" style="box-shadow:2px 2px 2px grey;">$7.00</td>
                  </tr>
                  <tr style="border-bottom:1px solid #ddd;">
                    <td class="purple lighten-5" style="box-shadow:2px 2px 2px grey;">Dedicated</td>
                    <td class="center-align">No</td>
                    <td class="grey white-text center-align" style="box-shadow:2px 2px 2px grey;">No</td>
                    <td class="center-align">Yes</td>
                  </tr>
                  <tr>
                    <td class="purple lighten-5" style="box-shadow:2px 2px 2px grey;">Autoscaling</td>
                    <td class="center-align">Lollipop</td>
                    <td class="grey white-text center-align" style="box-shadow:2px 2px 2px grey;">$7.00</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>

        </div>
        <div class="col s12 center-align">

          <a ng-click="openDetailedTable()" class="waves-effect purple lighten-4 btn-flat">View details</a>

        </div>

      </div>


      <div class="col s12 section scrollspy" id="mediumstorage">
        <div class="col s2">

        </div>
        <div class="col s8 center-align grey lighten-4">

        </div>
        <div class="col s2">

        </div>
      </div>


      <div class="col s12">
        <div class="col s2">

        </div>

        <div class="col s8 center-align section scrollspy grey lighten-4" id="largestorage">

        </div>
        <div class="col s42">

        </div>
      </div>

    </div>

    <div id="sidebar" ng-class="{'nightmodenavigation':nightMode,'whitemodenavigation':!nightMode}"
      class="animated fadeIn">





      <div class="row">
        <div class="col s12 " ng-show="!loading && !finishedLoadingSuccess && fadeOutHomePage">
          <div id="profilecircle" class="center-align">
            <img class="animated fadeIn" src='./images/character3.svg' />


          </div>
        </div>
        <div class="col s12 white" ng-show="!loading && !finishedLoadingSuccess && fadeOutHomePage">
        </div>

      </div>
      <div class=" animated fadeIn" ng-show="!loading && !finishedLoadingSuccess && fadeOutHomePage">
        <a href="#storage" ng-class="{'nightmodewhite':nightMode,'black-text':!nightMode}">
          <p class="sidebarlinkstyle montserrat">Storage</p>
        </a>
        <a href="#smallstorage" ng-class="{'nightmodewhite':nightMode,'black-text':!nightMode}">
          <p class="sidebarlinkstyle montserrat">Small Storage</p>
        </a>
        <a href="#details" ng-class="{'nightmodewhite':nightMode,'black-text':!nightMode}">
          <p class="sidebarlinkstyle montserrat">Medium Storage</p>
        </a>
        <a href="#largestorage" ng-class="{'nightmodewhite':nightMode,'black-text':!nightMode}">
          <p class="sidebarlinkstyle montserrat">Large Storage</p>
        </a>
        <a class="active" href="#white" style="color:#ddd;">
          <p class="sidebarinnerlinkstyle montserrat">David Solomon</p>
        </a>

        <a href="#whatyoudo" ng-class="{'nightmodewhite':nightMode,'black-text':!nightMode}">
          <p class="sidebarlinkstyle montserrat">Organization</p>
        </a>

        <a href="#reactapp" style="color:#ddd;">
          <p class="sidebarinnerlinkstyle montserrat">React Factories</p>
        </a>

      </div>
      <div class="row">

      </div>
      <div class="row">

      </div>
      <div class="row">

      </div>
      <div ng-show="!fadeOutHomePage" class=" animated fadeIn">
        <a href="#whatwedo" ng-class="{'nightmodewhite':nightMode,'black-text':!nightMode}">
          <p class="sidebarlinkstyle montserrat">What We Do</p>
        </a>

        <a class="active" href="#white" style="color:#ddd;">
          <p class="sidebarinnerlinkstyle montserrat">Angular</p>
        </a>

        <a href="#whatyoudo" ng-class="{'nightmodewhite':nightMode,'black-text':!nightMode}">
          <p class="sidebarlinkstyle montserrat">What You Do</p>
        </a>

        <a href="#reactapp" style="color:#ddd;">
          <p class="sidebarinnerlinkstyle montserrat">React</p>
        </a>

      </div>
      <div ng-show="fadeInContact" class=" animated fadeIn">
        <p class="sidebarlinkstyle montserrat black-text">Web Applications</p>

        <a class="active" href="#angularapp">
          <p class="sidebarinnerlinkstyle montserrat" style="color:#ddd;">Angular</p>
        </a>

        <p class="sidebarlinkstyle montserrat black-text">Web Applications</p>

        <a href="#reactapp">
          <p class="sidebarinnerlinkstyle montserrat" style="color:#ddd;">React</p>
        </a>

      </div>

    </div>

  </div>